option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: classic
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: m5a.large
    RootVolumeSize: 50
    SecurityGroups: sg-015e09999b91d7b81
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
  aws:ec2:vpc:
    VPCId: vpc-0f4e1ffd5e05e2d39
    AssociatePublicIpAddress: true
    ELBSubnets: subnet-0268baf156e8b9956,subnet-0505649bc35079e6e
    Subnets:  subnet-0268baf156e8b9956, subnet-0505649bc35079e6e