option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: classic
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2.small
    RootVolumeSize: 20
    SecurityGroups: sg-d820d6a7
  aws:ec2:vpc:
    VPCId: vpc-7e222119
    AssociatePublicIpAddress: true
    ELBSubnets: subnet-2e50a448,subnet-fc55f6a5
    Subnets:  subnet-fc55f6a5, subnet-2e50a448